[Unit]
Description=statsd-exporter
Documentation=https://github.com/Vocalo/statsd_exporter
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/default/statsd-exporter
ExecStart=/mnt/extra/opt/statsd_exporter-0.8.0.linux-amd64/statsd_exporter $ARGS

[Install]
WantedBy=multi-user.target
